




/*--
-------------------
 BASE STYLES
-------------------
 ---*/
/*
 font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
	box-sizing: border-box;
}

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h1,
h2,
h3 {
  font-family:'Roboto', sans-serif;
}


h1 {
  font-size: 1.95rem;
}

h2 {
  font-size: 1.56rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button:active,
button:focus,
button:focus:active {
  outline: 0;
  box-shadow: none;
}

div {
  display: block;
}

.section {
  background-color: #F9F9F9;
  height: auto;
  height: 100vh;
}

.header {
  font-size: 1.95rem;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.button {
  display: block;
  font-size: 1rem;
  border-radius: 30px;
  transition: 0.3s ease-out;
  margin: auto;
}

.button a {
  transition: 0.3s ease-out;
}


.button:hover {
  border-color: rgba(204, 204, 0, .8);
}





/*--
-------------------
  HOME/COVER STYLES
-------------------
 ---*/

.home {
  background-color: #333;
  display: flex;
}

.home-container {
  width: 70%;
  height: 70vh;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.home-header-flex{
  flex:4;
}

.home-header,
.home-title {
  font-family:'Roboto', sans-serif;
}

.home-header {
  margin-bottom: 0px;
  transition: opacity .50s .5s ease-out;
}

.home-title {
  margin-top: 20px;
  transition: opacity .75s 1s ease-out;
}

.home-header,
.home-title {
  opacity: 0;
  color: #F9F9F9;
  line-height: 40px;
  text-shadow:1px 10px 4px 2px rgba(0,0,0,1);
}



.home-header.is-visible,                                /*JS scrole animation*/
.home-title.is-visible  {
  opacity: 1; 
}


.home-header-highlight {
 /* border-radius: 4px;*/
  padding: 4px;
  transition: border-bottom .5s 2s ease-out;
}

.home-header-highlight.is-visible {                     /*JS scrole animation*/
  /*background-color: rgba(204, 204, 0, .8);*/
  border-bottom: 3px solid rgba(204, 204, 0, .8);
}

.arrow {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  color: #F9F9F9;
  font-size: 1.25rem;
  text-align: center;
  align-content: flex-end;
  align-items: flex-end;
  flex:1;

  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes bounce {
    0%{transform: translateY(0px)}
    50%  {transform: translateY(30px)}
    100% {transform: translateY(0px)}
}

.arrow-svg {
  display:inline-block;
  fill: #F9F9F9;
  transition: fill .3s ;
}

.arrow:hover .arrow-svg {
  fill: #cccc00;
}





/*--
-------------------
 NAV STYLES
-------------------
 ---*/

#navbarPrimary,                                   /*Bootstrap overide*/
.navbar {
  background-color: #333;
}

#navbar-toggler-icon-overide {                     /*Bootstrap overide*/
  color: #F9F9F9;
}

.navbar-brand {
  font-size: 1rem;
  display: none;
/*  transition: 0.1s ease-in;*/
}

.navbar-brand:hover {
  border-bottom: 2px solid rgba(204, 204, 0);
  padding-bottom: .1rem;
}





/*--
-------------------
  ABOUT STYLES
-------------------
 ---*/

.about {
  height: auto;

}

.about-container {
  width:90%;
  margin: auto;
  padding-bottom: 50px;
}

.about-header {
  padding-top: 70px;
}

.about-flex-main {
  padding-top: 70px;
}

.headshot {
  width:200px;
  height:200px;
  border-radius: 50%;
  margin: 3rem auto ;
  display:block;
  background-image: url("../img/background_opacity.png");
}

.about-body-text {
  font-size: 1rem;
}


.about-contact-flex {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.about-contact-flex div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-contact-flex a {
  font-size: 1rem;
  color: #0066CC;
  text-align: center;

}

.about-contact-flex a:hover {
  border-bottom: 2px solid #0066CC;
}



.skills-box-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}


.skills-box {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-box .skills-title {
  margin-top: 20px;
  font-size: 1rem;
}

.skills-box .skills-percentage {
  float: right;
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
}

.skills-box h7{
  margin-right: 0px;
}

.skills {
  height: 5px;
  position: relative;
  background: #ececec;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin-bottom: 16px;
  margin-top: 8px;
  overflow: hidden;
}


.skills-span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #333;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  left: -500px;
}

.span-one {
  transition: left .5s .7s ease-out;
}

.span-two {
  transition: left .5s .8s ease-out;
}

.span-three {
  transition: left .5s .9s ease-out;
}

.span-four {
  transition: left .5s 1s ease-out;
}

.span-five {
  transition: left .5s 1.1s ease-out;
}

.span-six {
  transition: left .5s 1.2s ease-out;
}

.span-seven {
  transition: left .5s 1.3s ease-out;
}

.span-eight {
  transition: left .5s 1.4s ease-out;
}

.span-nine {
  transition: left .5s 1.5s ease-out;
}

.skills-span.is-visible {                         /*JS scrole animation*/
  left: 0px;
}

.cv-button {
  margin-top: 30px;
  width: 45%;
  color: #333;
}

.cv-button a {
  color: #333;
}

.cv-button:hover {
  background-color:rgba(204, 204, 0, .8);
}

.cv-button:hover a {
  color: #F9F9F9;
}




/*--
-------------------
  PROJECT STYLES
-------------------
 ---*/

.portfolio {
 background-color:#ececec;
 height: auto;
}

.portfolio-container {
  padding-top: 70px;
  padding-bottom: 50px;
}



.portfolio-header {
  color: #333;
  font-size: 1.56rem;
  text-align: center;
  padding-bottom: 50px;
  text-shadow:1px 4px 4px 2px rgba(0,0,0,0.75);
  text-align: center;
}

.project-card {
 width: calc(100vw - 10%);
 height: 275px;
 max-width: 100%;
 margin: auto;
 margin-bottom: 2.5rem;
  box-shadow: 0px 4px 4px 0px rgba(51,51,51,0.75);
 border-radius: 5px;
 display: flex;
 flex-flow: column;
}

.project-card:last-child {
  box-shadow: none;
}

 .project-hover-shadow {
    position: static;
    cursor: auto;
    top: calc(0%);
    left: calc(0%);
    opacity: .5;
    position: static;

    transition: top .5s ease 0s, left .5s ease 0s;
    -webkit-transition: top .5s ease 0s, left .5s ease 0s;

  }



.project-hover-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  opacity: 1;
  cursor: auto;
  width:auto;
  height: 275px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-hover-shadow:hover,
.project-card:hover .project-hover-shadow  {
  cursor: pointer;

}

.project-title {
  color: #F9F9F9;
  width: 80%;
  margin: auto auto 0rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  font-size: 1.56rem;
  text-align: center;
}

.project-desciption {
  color: #F9F9F9;
  margin: auto;
}

.project-byline {
  color: #F9F9F9;
  margin: auto;
  margin-top: 0;
  padding-top: 0;
}

.project-button {
  color: #F9F9F9;
  background: rgba(0,0,0,0);
}

.project-button:hover {
  color: rgba(204, 204, 0, .8);
}

.project-card {
  background-position: center;
  background-size: cover;
}

.project-one {
  background-image: url("../img/robbie_fanshawe_v2.jpg");
}

.project-two {
  background-image: url("../img/dan_stockmann_v2.jpg");
}

.project-three {
  background-image: url("../img/connect_four.png");
}

.project-four {
  background-image: url("../img/hero_filler.jpg");
}

.project-five {
  background-image: url("../img/react.png");
}

.dummy-card {
  display: none;
}






/*--
-------------------
  MODAL STYLES
-------------------
 ---*/

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;


  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  animation-name: animate-modal;
  animation-duration: 0.6s;
}

@keyframes animate-modal {
  from {opacity:0}
  to {opacity: 1}
}

.close {
  width: 90%;
  margin: auto;
  color: #333;
  float: left;
  font-size: 2.4rem;
  font-weight: bold;
 }

.close:hover {
  color: rgba(204, 204, 0, .8);
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  width: 90%;
  margin: auto;
  background-color: #ECECEC;
  padding: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
  overflow: auto;
  max-height: 90vh;
 }

.modal-title {
  font-size: 1.56rem;
  text-decoration: none;
  margin-top: 0px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
 }

.modal-img {
  max-height: 948px;
  max-width: 95%;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 2%;
  box-shadow: 0px 4px 4px 2px  rgba(0,0,0,0.75);
 }

.modal-text {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.modal-p {
  margin:20px auto;
}

.modal-list-header {
  font-size: 1.25rem;
}

.modal-list li {
  font-size: 1rem;
  margin-left: 30px;
  list-style-type: circle;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.modal-button {
  margin:0 10 0 10;
  background-color: #ECECEC;
  border: 1px solid #333;
}

.modal-button a {
  color: #333;
  font-size: 1rem;
}

.modal-button:hover {
  background-color:rgba(204, 204, 0, 1);
  /*border: 1px solid #F9F9F9;*/
  cursor: pointer;
}

.modal-button:hover a {
  color: #ECECEC;
}




/*--
-------------------
  CONTACT STYLES
-------------------
 ---*/

.contact {
  min-height: 50vh;
  height: 50vh;
} 

.contact-header {
  padding-bottom: 10px;
}

.contact-p {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 56px;
}


.contact-details {
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
  padding-bottom: 8px;
  margin-right: 33px;
}

.svg-container-contact {
  display: inline-flex;
  align-self: center;
  height: 25px;
  width: 25px;
  overflow: visible;
}

.svg-container-contact svg {
  height: 1.25rem;
  width: 1.25rem;
  top: .125em;
  position: relative;
  overflow: visible;
}

.icon-phone svg {
  top: -.2em;
}

.svg-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
  margin: auto;
  margin-top: 60px;
}

.svg-container {
  width: 30px;
  height: 30px;
}

.linkedin-svg:hover .svg-contact-color,
.github-svg:hover .svg-contact-color {
  fill: #aaa;
}

.svg-contact-color {
  transition: .3s ease-out;
}




/*--
-------------------
  FOOTER STYLES
-------------------
 ---*/

.footer {
  text-align: center;
  color: #F9F9F9;
  background-color: #333;
  font-size: 0.8rem;
}

.footer-highlight {
  border-radius: 4px;
  padding: 4px;
  background-color: rgba(204, 204, 0, .8);
}




/* =================
Media Queries
==================*/






/*--- Medium screen start ---*/
@media (min-width: 768px) {


   /*--- General styles ---*/


  .button {
    width: 30%;
  }


  /*--- Nav styles ---*/

    .navbar{
      padding-left: 5%;
      padding-right: 5%;
    }

    .navbar-brand {
      display: inherit;
    }
    
  /*--- About styles ---*/
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active, 
    .navbar-dark .navbar-nav .nav-link.show, 
    .navbar-dark .navbar-nav .show>.nav-link {
      border-bottom: 3px solid rgba(204, 204, 0);
    }

    .about-contact-flex {
      margin-top: 4rem;
      margin-bottom: 7rem;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .about-contact-flex div {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-right: 2rem;
    }

    .about-contact-flex a {
      font-size: 1rem;
      color: #0066CC;
      text-align: center;

    }


   /* .skills-container {
      width: 70%;
      margin: auto;
    }

    .skills-box {
      width: 100%;
    }*/




  /*---- Project styles ----*/

    .portfolio-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .portfolio-flex:last-child {
      flex: 3;
    }

    .project-card {
      width: 45%;
    }



  /*---- Project styles - Modals ----*/


    .modal-container {
      padding-top: 0px;
      top: 50%;
      left: 50%;
      margin-top: -50vh;
      margin-left: -50vw;
    }


    .modal-content{
      width: 60%;
    }

    .modal-title{
      margin-top: 0px;
      font-size: 1.56rem;
    }

    .modal-img {
      max-width: 60%;
    }

    .modal-text {
      width: 70%;
    }

    .modal-p {
      font-size: 1rem;
      letter-spacing: 0.5px;
    }

    .modal-button-container {
      margin:20px 0px;
    }

    .modal-button {
      max-width: 161px;
      max-height: 29px;
    }
}
/*--- Medium screen end ---*/





/*--- Large screen starts ---*/
@media (min-width: 1025px) {
    
  /*--- Base styles ---*/
   p {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
   }


  /*---- Home styles ----*/
    .home-header{
      font-size: 3rem;
      line-height: 55px;
      padding-bottom: 20px;
    }

    .home-title{
      font-size: 2.5rem;
    }

    .home-header-highlight {
      padding: 2px 4px;
    }


  /*--- Nav styles ---*/
  
    .navbar {
      padding-top:0px;
      padding-bottom:0px;
    }


  


  /*--- About styles ---*/
  .about {
    min-height: 100vh;
  }

  .about-container{
    padding-bottom: 30px;
  }

  .about-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px

  }

  .about-flex-main {
    display: flex;
    flex-direction: row;
  }

  .about-flex-box {
    flex:1;
  }

  .headshot{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about-copy-container {
    flex-grow: 1.5;
    padding-right: 20px;
  }

  .about-body-text {
    /*width: 80%;*/
    margin: auto;
  }

  .skills-container {
    width: 100%;
    margin: auto;
    padding: 20px 20px 0px;
    flex-grow:1;
  }


  .skills-box-header {
    display: none;
  }

  .skills-box {
    width: 100%;
  }

  .skills-box h6 {
    letter-spacing: 0.5px;
  }

  .cv-button {
    width: 17%;
    height: 30px;
    margin-top: 50px;
    
  }





  /*---- Project styles ----*/
  .portfolio {
    min-height: 90vh;
  }

  .portfolio-header {
    display: none;
  }


  .portfolio-container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .project-card{
    max-width: 30%;
    margin-bottom: 20px;
    /*position: absolute;*/
    transition: 3s;
  }

  .dummy-card {
    display: inherit;
  }

  .project-hover-shadow {
    position: static;
    cursor: auto;
    top: calc(0.01%);
    left: calc(0.01%);
    opacity: .5;

    /*transition: top 1s ease 0s, left 1s ease 0s, opacity 1s ease 0s;
    -webkit-transition: top 1s ease 0s, left 1s ease 0s, opacity 1s ease 0s;*/

     transition: all 1s ease-out 0s;
    -webkit-transition: all 1s ease-out 0s;

  }

  /* .project-hover-shadow:hover {
    position: relative;
    top: calc(-4%);
    left: calc(-4%);
  }*/

   .project-hover-shadow:hover,
   .project-card:hover .project-hover-shadow  {
    position: relative;
    cursor: pointer;
    top: calc(-3%);
    left: calc(-3%);
    opacity: 1;
  

    transition: all .3s ease-in 0s;
    -webkit-transition: all .3s ease-in 0s;

  }


   .project-title {
    border-bottom: 0px solid rgba(204, 204, 0, .9);

    transition: border-bottom .4s ease-out 0s;
    -webkit-transition: border-bottom .4s ease-out 0s;
   }

   .project-hover-shadow:hover .project-title,
   .project-card:hover .project-title {
    border-bottom: 2px solid rgba(204, 204, 0, .9);

   transition: border-bottom 1s ease-in 0s;
    -webkit-transition: border-bottom 1s ease-in 0s;
   }



  .modal-content{
      width: 50%;
    }

 .modal-container {
      padding-top: 8vh
    }




  /*--- Contact Page Styles ---*/
  
  .svg-flex{
    width: 10%;
  }

}
/* =================
Media Queries ENDS
==================*/

/*----Clearfix----*/

.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}






